<html>
<body>

<a href="http://local.dev.clients">クライアント案件用</a><br />
<a href="http://local.dev.themes">テーマ開発用</a><br />
<a href="http://local.dev.plugins">プラグイン開発用</a><br />
<a href="http://local.dev.own">自分サイト用</a><br />
<br />
<a href="http://local.dev.database">データベース管理</a><br />

</body>
</html>
